.App {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.App-header {
  text-align: center;
  margin: 20px;
  font-size: 40px;
}

.todo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.centered-container {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.tasks-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
